.tabs {
  margin-bottom: 10px;
  margin-left: 210px;
}

.tab {
  margin-right: 6px;
}

.grid {
  display: flex;
}

.folders {
  margin-right: 10px;
  width: 200px;
}

.add-folder {
  margin-top: 2px;
}

.center {
  justify-content: center !important;
}

.full-width {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: auto;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 6px;
}