.tabs {
  margin-bottom: 10px;
  margin-left: 210px;
}

.tab {
  margin-right: 6px;
}

.grid {
  display: flex;
}

.folders {
  margin-right: 10px;
  width: 200px;
}

.add-folder {
  margin-top: 2px;
}

.center {
  justify-content: center !important;
}