.hand-grid {
  display: flex;
}

.hand {
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 0;
  margin: 2px;
  font-weight: bold;
  background: rgb(195, 219, 130);
  border: 1px solid rgb(46, 15, 15);

  &:focus {
    outline: none;
  }
}

.selected {
  background: rgb(20, 131, 62);
  color: #fff;
}

.grid {
  display: inline-block;
}

.options {
  display: inline-flex;
  flex-direction: column;
}